<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap-grid.min.css" integrity="sha512-q0LpKnEKG/pAf1qi1SAyX0lCNnrlJDjAvsyaygu07x8OF4CEOpQhBnYiFW6YDUnOOcyAEiEYlV4S9vEc6akTEw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/style_TrackingCode.css" />
    <link rel="icon" href="./img/logo.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>GIP 6em tracking</title>
</head>

<body>

    <background>
        <div id="green"></div>
        <div id="purple"></div>
        <div id="yellow"></div>
        <div id="pink"></div>
        <div id="orange"></div>
    </background>

    <div id="top">
        <header class="">
            <h2 id="logo"><a href="index.html"><span>GIP</span> 6EM</a></h2>
            <div class="icon">
                <a href="Order.html" class="icons">
                    <img src="./img/cart-svgrepo-com.svg" alt="orderingicon" id="iconss">
                </a>
                <a href="Tracking.html" class="icons">
                    <img src="./img/magnifying-glass-svgrepo-com.svg" alt="trackingicon" id="iconsss">
                </a>
            </div>
        </header>
    </div>


    <div id="main" class="container d-flex align-content-center justify-content-center flex-column">
        <main class="container d-flex align-items-center flex-column">
            <h1>Track and trace</h1>
            <img src="./img/cracker.png" style="width: 15%;" alt="congrats" id="congrats-img">
            <p id="thanks">bedankt voor uw bestelling</p>
            <h2>
                De tracking code:
            </h2>
            <h2>
                <p id="data" type="text">
                    <%=data %>
                </p>

            </h2>
            <div class="row d-flex justify-content-center">
                <button name="submit" id="submit-button" onclick="copyToClipboard()">klik hier om de trakcincode te kopiëren</button>
            </div>


        </main>
    </div>
    <script>
        function copyToClipboard() {
            var input = document.body.appendChild(document.createElement("input"));
            var test = document.getElementById("data").innerHTML;
            input.value = test.replace(/\s+/g, "");
            input.focus();
            input.select();
            document.execCommand('copy');
            input.parentNode.removeChild(input);
        }
    </script>
</body>

</html>