/* standard stuff */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

/* everything */
:root {
  --grey: #d4cdcd;
}

background {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 300vh;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  opacity: 80%;
}

background div {
  width: 20%;
  border: 0px solid white;
  border-bottom: 0px solid;
  border-top: 0px solid;
  transition: 0.2s;
}

#green {

  background-color: #88B930;
}

#purple {
  background-color: #8A63A2;
}

#yellow {
  background-color: #FFEC00;
}

#pink {
  background-color: #DB2A3F;
}

#orange {
  background-color: #F76300;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: omnes-pro, sans-serif;
  font-weight: bold;
}

/* header */

#top {
  top: 0;
  background-color: white;
  height: 4em;
  width: 100vw;
  color: #8A63A2;
  display: flex;
  justify-content: center;
  position: fixed;
}

#logo {
  transition: 0.2s;
  font-family: 'omnes-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
}

span {
  font-family: 'omnes-pro', sans-serif;
  font-weight: 900;
}

#logo:hover {
  color: #E25565;
  transform: scale(1.1);
}

header {
  height: 100%;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
}

.icons {
  height: 60%;
  width: 20%;
  display: flex;
  align-items: center;
}

#iconss {
  height: 70%;
  filter: invert(48%) sepia(5%) saturate(4419%) hue-rotate(233deg) brightness(86%) contrast(81%);
  transition: 0.2s;
}

#iconss:hover {
  filter: invert(37%) sepia(42%) saturate(2118%) hue-rotate(321deg) brightness(105%) contrast(77%);
  transform: scale(1.1);
}

#iconsss {
  margin-left: 30px;
  transform: rotate(45deg);
  height: 60%;
  filter: invert(48%) sepia(5%) saturate(4419%) hue-rotate(233deg) brightness(86%) contrast(81%);
  transition: 0.2s;
}

#iconsss:hover {
  filter: invert(37%) sepia(42%) saturate(2118%) hue-rotate(321deg) brightness(105%) contrast(77%);
  transform: scale(1.1) rotate(45deg);
}

/* main */
#main {
  margin-top: 4em;
}

main {
  margin-top: 25vh;
  background-color: #A182B5;
  border-style: solid dashed;
  border-width: 12px;
  border-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  transition: 0.5s;
}

main:hover {
  background-color: #E25565;
}

.container {
  width: 70%;
}

p {
  color: white;
  font-family: 'omnes-pro', sans-serif;
  font-weight: bold;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'omnes-pro', sans-serif;
  font-weight: 900;
  padding-bottom: 2em;
}

#submit-button {
  width: fit-content;
  height: fit-content;
  border-radius: 0.6em;
  border: none;
  padding: 0.5em;
  margin-top: 1em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: white;
  color: #8A63A2;
  font-size: 1em;
  transition: 0.2s;
  border: 0px solid;
}

#submit-button:hover {
  border: 5px solid white;
}

#main {
  height: calc(95vh - 3rem);
}

.color {
  padding-bottom: 1em;
}

/* +- button */

.col-4 {
  justify-content: space-around;
}

input {
  color: white;
}

input[type=text] {
  border-radius: 8px;
  border: 0px solid white;
  height: 30px;
  font-family: omnes-pro;
  background-color: #9355A6;
  color: white;
}

input[type=number] {
    background-color: #9355A6;
    color: white;
    height: 30px;
    line-height: 30px;
    font-family: omnes-pro;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 8px;
    border: 0px solid white;
    position: flex;
    align-items: center;
}

input[type=number]:focus {
  border: 2px solid white;
}

input[type=number]::-webkit-inner-spin-button { 
    cursor:pointer;
    display:block;
    width: 8px;
    color: #9355A6;
    background-color: #9355A6;
    text-align:center;
    margin-top: 5px;
}    
input[type=number]:hover::-webkit-inner-spin-button { 
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
    width: 12px;
    height: 12px;
    padding: 4px;
    color: #9355A6;
    background-color: #9355A6;
    border-radius: 2px;
}